
<svg viewBox="0 0 2000 960">
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">I am Elizabeth Orji </text>
    <text text-anchor="middle" x="51%" y="80%">I am Elizabeth Orji </text>

  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>

<div class="waviy">
   <span style="--i:1">A Full</span>
   <span style="--i:2">stack</span>
   <span style="--i:3">Ruby</span>
   <span style="--i:4">on</span>
   <span style="--i:5">Rails</span>
   <span style="--i:6">Developer,</span>
   <span style="--i:7">UX Designer</span>
   <span style="--i:8">and</span>
   <span style="--i:9">Digital</span>
   <span style="--i:10">Marketer</span>

  </div>

  <div style="background-image: <%= cl_image_path https://res.cloudinary.com/drifm7p5t/image/upload/v1683042396/bg_img_y5vwyl.avif.photo.key %>;"></div>


<%= link_to "About me", about_path %>
<%= link_to "Say Hello", contact_path %>
<%= link_to "My projects", project_path %>
<%= link_to "See Resume", resume_path %>
<%= link_to "My Offers", services_path %>
